#abc{
color:orange !important;
}

.img-responsive{
	height:700px !important;
	position:absolute;
	display:block;
}

.footer{
	height:20%;	
	top:30%;	
	text-align:center;
	position:relative;
	background-color:#534E4E;
	color:white
}

.headers{
	width:60%;left:20%;position:relative;
}

.register_button{
	width:60%;left:20%;height:40px !important;position:relative;background-color:#3B98C7;color:white;border:1px solid #3B98C7;border-radius:10px;
}

.register_button:hover{
	background-color:white;
	color:#3B98C7;
	box-shadow:2px 2px 2px grey;
	}