.footer{
	height:20%;	
	top:35% !important;	
	text-align:center;
	position:relative;
	background-color:#534E4E;
	color:white
}

.abcd
{
	background-color:#DEDFE3;
	color:black;
}

.abcd:hover{
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	
}