.footer{
	height:20%;	
	top:35% !important;	
	text-align:center;
	position:relative;
	background-color:#534E4E;
	color:white
}
#live_events{

	background-color:green;
	color:white;
}

#pen_events{

	background-color:orange;
	color:white;
}


#users_count{

	background-color:white;
	color:black;
	text-align:left;
	transition:0.4s;
}
#org_pending_count{

	background-color:white;
	color:black;
	text-align:left;
	transition:0.4s;
}
#org_count{
	background-color:white;
	color:black;
	text-align:left;
	transition:0.4s;
}

#live_events:hover,#pen_events:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
#users_count:hover,#org_count:hover,#org_pending_count:hover
{
	background-color:darkslategrey;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.abcd
{
	background-color:white;
	color:black;
	transition:0.4s;
	
}

.abcd:hover{
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color:;

	
}

.app_buttons:hover{

}