* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.hidden {
	display: none;
}

.form-control {
	width: 100%;
	min-height: 38px;
	font-size: 15px;
	border: 1px solid #c8c8c8;
}

.form-group {
	margin-bottom: 15px;
}


#chat-page {
	position: fixed;
	height: 70%;
	width: 30%;
	right: 10px;
	z-index: 9;
	bottom: 10px;
}

.chat-container {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#chat-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 20px 0px 20px;
	height: calc(100% - 150px);
}

#chat-page #messageForm {
	padding: 20px;
}

#chat-page ul li {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
	margin: 0;
	word-wrap: break-word
}

#chat-page .event-message {
	width: 100%;
	text-align: center;
	clear: both;
}

#chat-page .event-message p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}

#chat-page .chat-message {
	padding-left: 68px;
	position: relative;
}

#chat-page .chat-message i {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-style: normal;
	text-transform: uppercase;
}

#chat-page .chat-message span {
	color: #333;
	font-weight: 600;
}

#chat-page .chat-message p {
	color: #43464b;
}

#messageForm .input-group input {
	float: left;
	width: calc(100% - 85px);
}

#messageForm .input-group button {
	float: left;
	width: 80px;
	height: 38px;
	margin-left: 5px;
}

.chat-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

.chat-header h2 {
	margin: 0;
	font-weight: 500;
}

.connecting {
	padding-top: 5px;
	text-align: center;
	color: #777;
	position: absolute;
	top: 65px;
	width: 100%;
}

@media screen and (max-width: 730px) {
	.chat-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 480px) {
	.chat-container {
		height: calc(100% - 30px);
	}
	.username-page-container {
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
		padding: 25px;
	}
	#chat-page ul {
		height: calc(100% - 120px);
	}
	#messageForm .input-group button {
		width: 65px;
	}
	#messageForm .input-group input {
		width: calc(100% - 70px);
	}
	.chat-header {
		padding: 10px;
	}
	.connecting {
		top: 60px;
	}
	.chat-header h2 {
		font-size: 1.1em;
	}
}

.form-container .close {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  background-color:red
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

