.footer{
	height:20%;	
	top:35% !important;	
	text-align:center;
	position:relative;
	background-color:#534E4E;
	color:white
}
#live_events{
	height:45px;
	background-color:green;
	color:white;
}

#pen_events{
	height:45px;
	background-color:orange;
	color:white;
}


#users_count{
	height:45px;;
	background-color:green;
	color:white;
	text-align:left;
}
#totalevents{
	height:45px;;
	background-color:orange;
	color:white;
	text-align:left;
}
#live_events:hover,#pen_events:hover,#users_count:hover,#totalevents:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.abcd
{
     font-family: 'Open Sans', sans-serif;
	 transition:0.4s;

}

.abcd:hover{
	    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}