.footer{	
	bottom:0%;
	text-align:center;
	position:absolute;
	background-color:#534E4E;
	color:white
}

.abcd
{
	background-color:#DEDFE3;
	color:black;
}

.abcd:hover{
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	
}

.abc{  
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
  transition:0.4s;
}
.abc:hover
{
		
	    box-shadow: 0 4px 4px 1px rgba(0.2,0.2,0.2,0.3);

}
#update_button
{
	transition:0.4s;
}
#update_button:hover
{
		    box-shadow: 0 3px 3px 1px rgba(0.2,0.2,0.2,0.3);

}