<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/html">
<head>
  <title>Hoosier Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  th:href="@{/css/admin_profile.css}">
  	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	   <link rel="stylesheet" type="text/css" href="HomePage Style.css">

  <style>
  body, html, .container-fluid {
     
	 width:100%
}
</style>
</head>
<body>
<input id="model_name" type="hidden" th:value="${name}"/>
<input id="model" type="hidden" th:value="${model}"/>
<!-- NAVIGATION BAR -->
<nav class="navbar navbar-inverse" style="background-color:#AE1616;width:100%" >
  <div class="container-fluid" style="text-align:left">
    <div class="navbar-header">
      <a class="navbar-brand" href="homePage.html" id="abc">HoosierEvents</a>
    </div>
   
	<!--<ul class="nav navbar-nav" id="explore">
      <li><a class="top-nav-links" href="search_events.html" style="color:white;">Explore Events</a></li>
    </ul>-->
	
<!--    <form class="navbar-form navbar-left" action="">
      <div class="form-group">
        <input type="text" class="form-control" style="text-align:center;" placeholder="search for events!">
      </div>
      <button type="submit" class="btn btn-default" style="height:4.5% !important;width:15%!important;position:relative"><span class="glyphicon glyphicon-search"></span></button>
    </form> -->
	<ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="">Sign Out</a></li>
    </ul>

	</div>
</nav>
<!--<div style="background-color:red;left:-30%;height:100%;width:40%;position:relative;">-->
<div class="container-fluid" style="height:100% !important;">
<div class="row">
	<div class="col-sm-4" style="border-right:1px solid lightgrey">
	<!--<div class="container" style="height:100%;position:relative;top:10%;">-->
	  <div class="page-header"><h3>Admin User</h3></div>
	  
	  <ul class="nav nav-pills nav-stacked" >
		<li class="active" ><a data-toggle="pill" href="#dash" >Dashboard</a></li>
		<li><a data-toggle="pill" href="#approve">Pending Approval Requests</a></li>

		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>
		  <ul class="dropdown-menu">
			<li><a data-toggle="pill" href="#view_users">Users</a></li>
			<li><a data-toggle="pill" href="#view_org">Organisers</a></li>
			<li><a data-toggle="pill" href="#view_events">Events</a></li>                        
		  </ul>
		</li>
		<li><a data-toggle="pill" href="#edit_events">Reported Events</a></li>
	  </ul>
	</div>
	
	<div class="col-sm-8">
	
<div class="tab-content">

	
	<div id="dash" class="tab-pane fade in active ">
      <h3 style="color:darkslategrey">Event Statistics</h3>
	 
	<div class="row">
	 <div class="col-sm-6">
	  <!--<div id="piechart">
	  
	  </div>-->
	  <div class="panel panel-default" id="live_events" ><h4> &nbsp Live Events:<span id="total_events"> </span></h4></div>

	  </div>
	  <div class="col-sm-6">
	  	 <div class="panel panel-default" id="pen_events"><h4>&nbsp Events Pending:<span id="pending_events"> </span></h4></div>

	  
	  </div>
	  
	  </div>
	  <h3 style="color:darkslategrey">User Demographics</h3>
	  <div class="row">
	  <div class="col-sm-6">
	  <div class="panel panel-default" id="users_count"><h5>&nbspRegistered Users<span id="total_users"> </span>
	  </h5>
<!--	  	   <div class="panel panel-default" id="users_count" ><h5 style="top:25%;position:relative"> &nbsp Total Registered Users:<span id="total_users"> </span></h5></div>-->
		</div> 	
		</div>
		<div class="col-sm-6"></div>
	  </div>
	  
	    <div class="row">
	  <div class="col-sm-6">
<div class="panel panel-default" id="org_count"><h5>&nbspRegistered Organisers<span id="total_org"> </span></h5>
		</div> 	
		</div>
	  </div>
	  
	  <h3 style="color:darkslategrey">Revenue Stats</h3>
	  <div class="row">
	  <div class="col-sm-6">
		<h4>Net Revenue:<span id="total_revenue"></span></h4>
		</div>
		<div class="col-sm-6">
		<h4>Average Revenue Per Event:<span id="avg_revenue"></span></h4>
		</div>
	  </div>
<!--	  <div id="container" class="cols">
    <div class="box">a</div>
    <div class="box">b</div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>-->
      
    </div>
	<div id="view_users" class="tab-pane fade">
      <h3>Registered Users</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
	<div id="view_org" class="tab-pane fade">
      <h3>Registered Organizers</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
	<div id="view_events" class="tab-pane fade">
      <h3>All Events</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
	
	<div id="approve" class="tab-pane fade">
      <h3>Organizer Registration Requests</h3>
	  <div id="waitlist_events" class="col-sm-9"></div>
    </div>
    
    <div id="reported" class="tab-pane fade">
      <h3>Reported Events</h3>
	  <div id="waitlist_events" class="col-sm-9"></div>
    </div>
		
 </div>
	</div>
</div>


  
<!--</div>-->
</div>
<br><br><br>
<!-- <!FOOTER DIV> -->
<!--
<div class="container-fluid footer">
<div class="row" style="background-color:#AE1616; color:black">
<div class="col-sm-3"><h5>Get Connected with us on Social Media</h5></div>
<div class="col-sm-6"></div>
<div class="col-sm-3">
<div class="row" style="text-align:center">
	<div class="col-sm-3">
		            <a id="socialmedialink" href="#" class="fb-ic">
		              <i class="fa fa-facebook white-text mr-4"> </i>
		            </a>
					</div>
		            
					<div class="col-sm-3">
		            <a id="socialmedialink" href="#" class="tw-ic">
		              <i class="fa fa-twitter white-text mr-4"> </i>
		            </a>
					</div>
		           
					<div class="col-sm-3">
		            <a id="socialmedialink" href="#" class="gplus-ic">
		              <i class="fa fa-google-plus white-text mr-4"> </i>
		            </a>
					</div>
</div>
</div>
</div>
<div class="row">
	<div class="col-sm-4">
	<div class="row"><h5><b>Hoosier Events</b></h5></div>
		<div class="row">Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</div>
	<br>
	</div>
	<div class="col-sm-4 links" style="color:white"><h5><b>Useful Links</b></h5>
		
		<div class="row"><a href="" style="color:#48A2BD">Your Account</a></div>
		<div class="row"><a href="" style="color:#48A2BD">About us</a></div>
		<div class="row"><a href="" style="color:#48A2BD">Help</a></div>
		<br>
	</div>
	
	<div class="col-sm-4"><h5><b>Contact Us</b></h5>
				            <i class="fa fa-home mr-3"></i>&nbsp Bloomington, IN 47408, US
							<br>
				            <i class="fa fa-envelope mr-3"></i>&nbsp info@example.com
							<br>
							<i class="fa fa-phone mr-3"></i>&nbsp + 01 234 567 88


	</div>
</div>
</div>
-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/script/admin_profile.js"></script>

<script type="text/javascript">

//----------------Author Harish----------------

$(document).ready(function(){
	$.ajax({
	type:'GET',
	url:"/getAllOrganizers",
	  success: function(users) {
		  doPendingRequestRender(users);
	  },
	  error: function(e) {
		 console.log(e);
	  }
	});
});

function doPendingRequestRender(users) {
	var pendingOrganizers = users.filter(function (users) {
		  return (users.active == "0");
		});
	
	var total = users.length; ;
	var pending = pendingOrganizers.length;
	var count = pending;
	
	document.getElementById("total_events").innerHTML+=total;
	document.getElementById("pending_events").innerHTML+=pending;
	document.getElementById("total_users").innerHTML+=count;
	div_count=4; //size of result set-that is list of events in waitlist table
	var i;
		for(i=0;i<pending;i++){
		
			var userId = pendingOrganizers[i].id;
			var div = document.createElement("div");
			div.style.border= "1px solid lightgrey";
			div.style.borderRadius= "6px";
			div.id="div"+userId;
			div.style.align="center";
			var temp="div"+userId;
			div.className="panel panel-default abcd";
			div.innerHTML= "&nbsp" + pendingOrganizers[i].name +"<br>";
			div.innerHTML+= "&nbsp" + pendingOrganizers[i].email +"<br>";
			div.innerHTML+= "&nbsp" + pendingOrganizers[i].address ;
			
			var form = document.createElement("button");
			var b=document.createElement("button");
			b.id=userId;
			b.innerHTML="Approve";
			b.style="background-color:green;color:white;border:1px solid green;border-radius:5px;box-shadow:0px 0px 0px grey;";
			b.class="app_buttons btn-primary";
			b.addEventListener("click",approveEvent);
			var b2=document.createElement("button");
			b2.id=userId;
			b2.innerHTML="Deny";
			b2.addEventListener("click",denyEvent);
			b2.style="background-color:#C02837;border:1px solid #C02837;border-radius:5px;color:white;";
			b2.class="deny_buttons btn-primary";
			
			document.getElementById("waitlist_events").appendChild(div);
			document.getElementById(temp).innerHTML+="<br><br>";
			document.getElementById(temp).appendChild(b);
			document.getElementById(temp).appendChild(b2);
		}
}

var elemtUnderProcessId;
function approveEvent()
{
	elemtUnderProcessId = this.id;
	$.ajax({
		type: "PUT",
        url: '/approveOrganizer',
        data: {userId:this.id},
        success: function (data) {
        	alert("Organizer Approved");
        	removeThisRecordFromPendingList(this.id);
        },
        error: function (e) {
            console.log(e);
        }
	});
}

function denyEvent()
{
	elemtUnderProcessId = this.id;
	$.ajax({
		type: "PUT",
        url: '/denyOrganizer',
        data: {userId:this.id},
        success: function (data) {
        	alert("Organizer Request Deleted!!");
        	removeThisRecordFromPendingList(this.id);
        },
        error: function (e) {
            console.log(e);
        }
	});
}

function removeThisRecordFromPendingList(id){
	var processedRecord = document.getElementById("div"+elemtUnderProcessId);
	processedRecord.parentNode.removeChild(processedRecord);
	
}



//----reported events

function doPendingRequestRender1(users) {
	var pendingOrganizers = users.filter(function (users) {
		  return (users.active == "0");
		});
	
	var total = users.length; ;
	var pending = pendingOrganizers.length;
	var count = pending;
	
	document.getElementById("total_events").innerHTML+=total;
	document.getElementById("pending_events").innerHTML+=pending;
	document.getElementById("total_users").innerHTML+=count;
	div_count=4; //size of result set-that is list of events in waitlist table
	var i;
		for(i=0;i<pending;i++){
		
			var userId = pendingOrganizers[i].id;
			var div = document.createElement("div");
			div.style.border= "1px solid lightgrey";
			div.style.borderRadius= "6px";
			div.id="div"+userId;
			div.style.align="center";
			var temp="div"+userId;
			div.className="panel panel-default abcd";
			div.innerHTML= "&nbsp" + pendingOrganizers[i].name +"<br>";
			div.innerHTML+= "&nbsp" + pendingOrganizers[i].email +"<br>";
			div.innerHTML+= "&nbsp" + pendingOrganizers[i].address ;
			
			var form = document.createElement("button");
			var b=document.createElement("button");
			b.id=userId;
			b.innerHTML="Approve";
			b.style="background-color:green;color:white;border:1px solid green;border-radius:5px;box-shadow:0px 0px 0px grey;";
			b.class="app_buttons btn-primary";
			b.addEventListener("click",approveEvent);
			var b2=document.createElement("button");
			b2.id=userId;
			b2.innerHTML="Deny";
			b2.addEventListener("click",denyEvent);
			b2.style="background-color:#C02837;border:1px solid #C02837;border-radius:5px;color:white;";
			b2.class="deny_buttons btn-primary";
			
			document.getElementById("waitlist_events").appendChild(div);
			document.getElementById(temp).innerHTML+="<br><br>";
			document.getElementById(temp).appendChild(b);
			document.getElementById(temp).appendChild(b2);
		}
}

//----------------------------------

//--------Harish----------------------
</script>
</body>
</html>