<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/html">
<head>
  <title>Hoosier Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet"  th:href="@{/css/admin_profile.css}">
  	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	   <link rel="stylesheet" type="text/css" href="HomePage Style.css">

  <style>

 .fa {
padding-top:10px;
  padding-right: 10px;
  padding-left:10px;
  padding-bottom:10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
	color:white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

body, html, .container-fluid {
     font-family: 'Oxygen', sans-serif;

	width: 100%;
}
</style>
</head>
<body>
<input id="model_name" type="hidden" th:value="${name}"/>
<input id="model" type="hidden" th:value="${model}"/>
<!-- NAVIGATION BAR -->
<div class="container-fluid" style="background-color:;color:#AE1616;padding:10px;border-bottom:1px solid lightgrey;">
<div class="row">
    <div class="col-sm-2"><a href="/" style="text-decoration: none"><h4 style="color:#AE0D0D;background-color:white;text-align:center">HoosierEvents</h4></a></div>

<div class="col-sm-1"></div>
<div class="col-sm-6"></div>
<div class="col-sm-1"></div>
<div class="col-sm-1">

	<div class="col-sm-1">
		<form action="/login">
			<button class="btn-default xyz" id="loginbutt" style="color:#AE0D0D;background-color:white;border:0px;display: none"><h5>Login</h5></button>
		</form>
		<form action="/logout">
			<button class="btn-default xyz" id="logoutbutt"  style="color:#AE0D0D;background-color:white;border:0px; display: none"><h5>Logout</h5></button>
		</form>

	</div>
</div>


	</div>

   
	
</div>
<!--<div style="background-color:red;left:-30%;height:100%;width:40%;position:relative;">-->
<div class="container-fluid" style="height:100% !important;">
<div class="row">
	<div class="col-sm-4">
	<!--<div class="container" style="height:100%;position:relative;top:10%;">-->
	  <div class="page-header"><h3>Admin User</h3></div>
	  
	  <ul class="nav nav-pills nav-stacked" >
		<li class="active" ><a data-toggle="pill" href="#dash" >Dashboard</a></li>
		<li><a data-toggle="pill" href="#approve">Pending Approval Requests</a></li>

		<!-- <li class="dropdown"> -->
		  <li><a data-toggle="pill" href="#view_org">Registered Organizers</a>
		  <!-- <ul class="dropdown-menu">
			<li><a data-toggle="pill" href="#view_users">Users</a></li>
			<li><a data-toggle="pill" href="#view_org">Organisers</a></li>
			<li><a data-toggle="pill" href="#view_events">Events</a></li>                        
		  </ul> -->
		<!-- </li> -->
		<li><a data-toggle="pill" href="#reported">Reported Events</a></li>
		<li><a data-toggle="pill" href="#announcement">Announcements</a></li>
	  </ul>
	</div>
	
			<div class="col-sm-8" style="height:500px;overflow-y:scroll;">
	
	
	
	
	
	
	
	
	
	
<div class="tab-content">

	
	<div id="dash" class="tab-pane fade in active ">
							<h3 style="text-align:center;     font-family: 'Open Sans', sans-serif;">User Statistics</h3>

	<div id="piechart" style="height:650px;">
						</div><br>
						  <div class="row">
	  <div class="col-sm-4">
	  <div class="panel panel-default" id="users_count"><h5>&nbspRegistered Users<span id="total_users"> </span>
	  </h5>
<!--	  	   <div class="panel panel-default" id="users_count" ><h5 style="top:25%;position:relative"> &nbsp Total Registered Users:<span id="total_users"> </span></h5></div>-->
		</div> 	
		</div>
	
	  <div class="col-sm-4">
<div class="panel panel-default" id="org_count"><h5>&nbspRegistered Organisers<span id="total_org"> </span></h5>
		</div> 	
		</div>
			  <div class="col-sm-4">
<div class="panel panel-default" id="org_pending_count"><h5>&nbspApproval Requests<span id="total_pending_org"> </span></h5>
		</div> 	
		</div>
	  </div>
						
						
						<br>
						<h3 style="text-align:center;     font-family: 'Open Sans', sans-serif;">Revenue Statistics</h3>
						<div id="piechart3" style="height:400px;">
						</div>
						<div id="piechart2" style="height:400px;">
						</div>
	  <div class="row">
	  <div class="col-sm-6">
		<h4>Net Revenue: <span id="total_revenue">175000$</span></h4>
		</div>
		<div class="col-sm-6">
		<h4>Average Revenue Per Event: <span id="avg_revenue">1500$</span></h4>
		</div>
	  </div>				
						
      <!--<<h3 style="color:darkslategrey">Event Statistics</h3>
	 
	<div class="row">
	 <div class="col-sm-6">
	  <!--<div id="piechart">
	  
	  </div>
	  <div class="panel panel-default" id="live_events" ><h4> &nbsp Live Events:<span id="total_events"> </span></h4></div>

	  </div>
	  <div class="col-sm-6">
	  	 <div class="panel panel-default" id="pen_events"><h4>&nbsp Events Pending:<span id="pending_events"> </span></h4></div>

	  
	  </div>
	  
	  </div>-->
	
	  

      
    </div>
	<div id="announcement" class="tab-pane fade">
	<div class="row">
	<div class="col-sm-6"><h4 style="">Send Broadcast Message To</h4></div>

	</div><br>
	<div class="row">
		<div class="col-sm-6">
					    <label class="checkbox-inline">
      <input type="checkbox" value="">Users
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" value="">Organisers
    </label>
	</div>
	</div>
	<textarea id="" rows="8" cols="80" 	style="resize:none;"></textarea><br><br>
	<button class='btn-block' style='width:30%;background-color:white;color:darkslategrey;border:1px solid darkslategrey;'>Send Message</button>
	</div>
	
	<div id="view_users" class="tab-pane fade">
      <h3>Registered Users</h3>
    </div>
	<div id="view_org" class="tab-pane fade">
      <h3>Registered Organizers</h3>
    </div>
	<div id="view_events" class="tab-pane fade">
      <h3>All Events</h3>
    </div>
	
	<div id="approve" class="tab-pane fade">
      <h3 class="sticky">Organizer Registration Requests</h3>
	  <div id="waitlist_organizers" class="col-sm-9"></div>
    </div>
    
    <div id="reported" class="tab-pane fade">
      <h3>Reported Events</h3>
	  <div id="reported_events" class="col-sm-9"></div>
    </div>
		
 </div>
	</div>
</div>


  
<!--</div>-->
</div>
<div class="container-fluid fancy" style="border-top:1px solid lightgrey;text-align:center;top:0%;height:auto;position:relative;background-color: !important;color:">
<br><div class="row" style="background-color:;">
	<!--<div class="col-sm-4">
	<div class="row" style="background-color:lightgrey"><div class="col-sm-12"><h4 style="color:#AE0D0D">Hoosier Events</h4></div></div>
		<div class="row" style="text-align:center;"><div class="col-sm-12">Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</div></div>
	<br>
	</div>-->
	<div class="col-sm-6 links" style="color:#AE0D0D;"><div class="row"  style="font-family: 'Oxygen', sans-serif;
background-color:"><div class="col-sm-12"><h4>About HoosierEvents</h4></div></div>
		
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">Sitemap</a></h5></div></div>
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">About us</a></h5></div></div>
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">FAQs</a></h5></div></div>
		<br>
	</div>
	
	<div class="col-sm-6"><div class="row"  style="background-color:"><div class="col-sm-12" style="font-family: 'Oxygen', sans-serif;
text-align:center"><h4 style="color:#AE0D0D;">Connect with Us</h4></div></div>
				           <!--  <i class="fa fa-home mr-3"></i>&nbsp Bloomington, IN 47408, US
							<br>
				            <i class="fa fa-envelope mr-3"></i>&nbsp info@example.com
							<br>
							<i class="fa fa-phone mr-3"></i>&nbsp + 01 234 567 88 -->

		<div class="row">
		<div class="col-sm-4"></div>

		<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-facebook"></a></div>
<div class="col-sm-1" style="padding-right:25px;"><a href="#" class="fa fa-twitter"></a></div>
<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-google"></a></div>
<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-instagram"></a></div>
<div class="col-sm-4"></div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

//google charts 

	google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawMultSeries);

function drawMultSeries() {
      var data = google.visualization.arrayToDataTable([
        ['Month', 'Users', 'Organisers'],
    ['January', 0,5],
  ['February', 1,4],
  ['March', 1,1],
  ['April', 3,0],
	  ['May', 0,4],
	    ['June', 1,12],
		  ['July', 0,2],
		    ['August', 2,5],
			  ['September', 2,1],
			    ['October', 3,3],
				  ['November', 0,1],
				    ['December', 0,0],
      ]);

      var options = {
        title: 'Monthly Demographic of New Users',
        chartArea: {width: '60%'},
        hAxis: {
          title: 'Number of Users',
          minValue: 0
        },
        vAxis: {
          title: 'Month'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }



google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
	
	function drawChart() {
/*  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Events');
  data.addColumn('number', 'abc');

    data.addRow(['Live',live_event_count]);
	data.addRow(['Pending',pending_event_count]);*/
	
       var data = google.visualization.arrayToDataTable([
          ['Category', 'Revenue'],
          ['Sports',     100000],
          ['Education',      25000],
          ['Music',  50000],
        
        ]);

        var options = {
          title: 'Revenue By Category'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
      }
	  
	  google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Month');
      data.addColumn('number', 'Revenue');
		
      data.addRows([
    	  ['Jan', 10000],
    	  ['Feb', 10000],
    	  ['Mar', 15000],
    	  ['Apr', 3000],
    		  ['May', 7000],
    		    ['Jun', 25000],
    			  ['Jul', 8000],
    			    ['Aug', 2000],
    				  ['Sep', 15000],
    				    ['Oct', 5000],
    					  ['Nov', 25000],
    					    ['Dec', 50000],
      ]);

      var options = {
        title: 'Revenue by Month',
        hAxis: {
          title: 'Month',
          viewWindow: {
            min: [7, 30, 0],
            max: [17, 30, 0]
          }
        },
        vAxis: {
          title: 'Revenue',
		  color:'red'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('piechart3'));

      chart.draw(data, options);
    }
	
// google charts end
//----------------Author Harish----------------

$(document).ready(function(){
	$.ajax({
	type:'GET',
	url:"/getAllOrganizers",
	  success: function(users) {
		  doPendingRequestRender(users);
		  doApprovedOrganizersRender(users);
	  },
	  error: function(e) {
		 console.log(e);
	  }
	});
});

function doPendingRequestRender(users) {
	var pendingOrganizers = users.filter(function (users) {
		  return (users.active == "0");
		});
	
	var total = users.length; ;
	var pending = pendingOrganizers.length;
	var count = pending;
	
	document.getElementById("total_events").innerHTML+=total;
	document.getElementById("pending_events").innerHTML+=pending;
	document.getElementById("total_users").innerHTML+=count;
	var i;
		for(i=0;i<pending;i++){

			var userId = pendingOrganizers[i].id;
			var div = document.createElement("div");
			div.style.border= "1px solid lightgrey";
			div.style.borderRadius= "6px";
			var temp="divusr"+userId;
			div.id=temp;
			div.style.align="center";
			div.className="panel panel-default abcd";
			div.innerHTML= "<h4>&nbsp" + pendingOrganizers[i].name +" ("+ pendingOrganizers[i].email + " ) </h4><br>";
			//div.innerHTML+= ((pendingOrganizers[i].address == null)?"-No Address-":pendingOrganizers[i].address);
			
			var form = document.createElement("button");
			var b=document.createElement("button");
			b.id=userId;
			b.innerHTML="Approve";
			b.style="left:70%;position:relative;background-color:green;color:white;border:1px solid green;border-radius:5px;box-shadow:0px 0px 0px grey;";
			b.class="app_buttons btn-primary";
			b.addEventListener("click",approveRequest);
			var b2=document.createElement("button");
			b2.id=userId;
			b2.innerHTML="Deny";
			b2.addEventListener("click",denyRequest);
			b2.style="left:71%;position:relative;background-color:#C02837;border:1px solid #C02837;border-radius:5px;color:white;";
			b2.class="deny_buttons btn-primary";
			
			document.getElementById("waitlist_organizers").appendChild(div);
			document.getElementById(temp).appendChild(b);
			document.getElementById(temp).appendChild(b2);
		}
		
		$.ajax({
			type:'GET',
			url:"/getReportedEvents",
			  success: function(reportedEvents) {
				  doReportedEventsRender(reportedEvents);
			  },
			  error: function(e) {
				 console.log(e);
			  }
			});
}

var elemtUnderProcessId;
function approveRequest()
{
	elemtUnderProcessId = this.id;
	$.ajax({
		type: "PUT",
        url: '/approveOrganizer',
        data: {userId:this.id},
        success: function (data) {
        	alert("Organizer Approved");
        	removeThisRecordFromPendingList("divusr", this.id);
        },
        error: function (e) {
            console.log(e);
        }
	});
}

function denyRequest()
{
	elemtUnderProcessId = this.id;
	$.ajax({
		type: "PUT",
        url: '/denyOrganizer',
        data: {userId:this.id},
        success: function (data) {
        	alert("Organizer Request Deleted!!");
        	removeThisRecordFromPendingList("divusr", this.id);
        },
        error: function (e) {
            console.log(e);
        }
	});
}

function removeThisRecordFromPendingList(divPrefix, id){
	var processedRecord = document.getElementById(divPrefix+elemtUnderProcessId);
	processedRecord.parentNode.removeChild(processedRecord);
	
}



//----reported events

function doReportedEventsRender(reportedEvents) {
	var total = reportedEvents.length; ;
	var pending = reportedEvents.length;
	var count = pending;

	var i;
		for(i=0;i<pending;i++){

			var eventId = reportedEvents[i].id;
			var div = document.createElement("div");
			div.style.border= "1px solid lightgrey";
			div.style.borderRadius= "6px";
			var temp="divevent"+eventId;
			div.id=temp;
			div.style.align="center";
			div.className="panel panel-default abcd";
			div.innerHTML= "&nbsp; <h4><b>" + reportedEvents[i].eventTitle +"</b></h4>" ;
			div.innerHTML+= "&nbsp; <b>Category:</b> " + reportedEvents[i].eventCategory.name +"<br>";
			div.innerHTML+= "&nbsp; <b>Reporter Message:</b> " + ((reportedEvents[i].reportStatement == null)?"-No Message-":reportedEvents[i].reportStatement) +"<br>";
			div.innerHTML+= "&nbsp; <b>Organizer: </b>" + reportedEvents[i].createdBy.name + "&nbsp;( "+ reportedEvents[i].createdBy.email + " )" ;
			
			var form = document.createElement("button");
			var b=document.createElement("button");
			b.id=eventId;
			b.innerHTML="Allow Event";
			b.style="background-color:green;color:white;border:1px solid green;border-radius:5px;box-shadow:0px 0px 0px grey;";
			b.class="app_buttons btn-primary";
			b.addEventListener("click",allowReportedEvent);
			var b2=document.createElement("button");
			b2.id=eventId;
			b2.innerHTML="Delete Event";
			b2.addEventListener("click",deleteReportedEvent);
			b2.style="background-color:#C02837;border:1px solid #C02837;border-radius:5px;color:white;";
			b2.class="deny_buttons btn-primary";
			var b3=document.createElement("button");
			b3.id=eventId;
			b3.innerHTML="View this Event";
			b3.addEventListener("click",sendevent);
			b3.style="background-color:#666;border:1px solid #C02837;border-radius:5px;color:white;";
			b3.class="deny_buttons btn-primary";
			
			document.getElementById("reported_events").appendChild(div);
			document.getElementById(temp).innerHTML+="<br><br>";
			document.getElementById(temp).appendChild(b);
			document.getElementById(temp).appendChild(b2);
			document.getElementById(temp).appendChild(b3);
		}
}

function allowReportedEvent()
{
	elemtUnderProcessId = this.id;
	$.ajax({
		type: "PUT",
        url: '/allowReportedEvent',
        data: {eventId:this.id},
        success: function (data) {
        	alert("Report ignored for the event!!");
        	removeThisRecordFromPendingList("divevent", this.id);
        },
        error: function (e) {
            console.log(e);
        }
	});
}

function deleteReportedEvent()
{
	elemtUnderProcessId = this.id;
	$.ajax({
		type: "PUT",
        url: '/deleteReportedEvent',
        data: {eventId:this.id},
        success: function (data) {
        	alert("Reported Event has been removed from the System");
        	removeThisRecordFromPendingList("divevent", this.id);
        },
        error: function (e) {
            console.log(e);
        }
	});
}

function sendevent()
{
	window.location.href = "eventpage?id="+this.id.toString().replace("divevent","");
}
//----------------------------------

//----ALl approved organizers

function doApprovedOrganizersRender(users) {
	var pendingOrganizers = users.filter(function (users) {
		  return (users.active == "1");
		});
	
	var total = users.length; ;
	var pending = pendingOrganizers.length;
	var count = pending;

	var i;
		for(i=0;i<pending;i++){
		
			var userId = pendingOrganizers[i].id;
			var div = document.createElement("div");
			div.style.border= "1px solid lightgrey";
			div.style.borderRadius= "6px";
			var temp="divusr"+userId;
			div.id=temp;
			div.style.align="center";
			div.className="panel panel-default abcd";
			div.innerHTML= "<h4>&nbsp" + pendingOrganizers[i].name +"  ( " + pendingOrganizers[i].email + ")</h4>";
			
			var form = document.createElement("button");
			var b=document.createElement("button");
			b.id=userId;
			b.innerHTML="Contact";
			b.style="background-color:green;color:white;border:1px solid green;border-radius:5px;box-shadow:0px 0px 0px grey;";
			b.class="app_buttons btn-primary";
			b.addEventListener("click",sendMailOrganizer);
			var b2=document.createElement("button");
			b2.id=userId;
			b2.innerHTML="Delete this Organizer";
			b2.addEventListener("click",denyRequest);
			b2.style="background-color:#C02837;border:1px solid #C02837;border-radius:5px;color:white;";
			b2.class="deny_buttons btn-primary";
			
			document.getElementById("view_org").appendChild(div);
			document.getElementById(temp).appendChild(b);
			document.getElementById(temp).appendChild(b2);
		}
}

function sendMailOrganizer()
{
	elemtUnderProcessId = this.id;
}

//----------------------------------


//--------Harish----------------------

$(document).ready(function () {
        $.ajax({
                type: "GET",
                url: '/getauth',
                success: function (data) {
                    console.log(data);
                    if(data==="anonymousUser"){
                        document.getElementById('logoutbutt').style.display="none";
                        document.getElementById('loginbutt').style.display="block";
                    }
                    else{
                        document.getElementById("loginbutt").style.display="none";
                        document.getElementById("logoutbutt").style.display="block";
                    }


                },
                error: function (e) {
                    console.log(e);
                }

            }
        )
    })
    
</script>
</body>
</html>