<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="../static/script/createEvent.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{../static/css/create_event.css}">
  	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	    <link rel="stylesheet" type="text/css" th:href="@{../static/css/HomePageStyle.css}">
  <style>
  #event_host_button
  {
  transition:0.4s;
  }
  #event_host_button:hover{
		color:white !important;
		background-color:green !important;
	box-shadow:2px 2px 2px grey;
	
}

 .fa {
padding-top:10px;
  padding-right: 10px;
  padding-left:10px;
  padding-bottom:10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
	color:white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

body, html, .container-fluid {
     font-family: 'Oxygen', sans-serif;

	width: 100%;
}
</style>
</head>
<body>

<div class="container-fluid" style="background-color:;color:#AE1616;padding:10px;border-bottom:1px solid lightgrey;">
<div class="row">
<div class="col-sm-2"><h4 style="color:#AE0D0D;background-color:white;text-align:center">HoosierEvents</h4></div>
<div class="col-sm-1"></div>
<div class="col-sm-6"></div>
<div class="col-sm-1">
 <form action="/org_profile">
        <button class="btn-default xyz" id="profilebutton"  style="color:#AE0D0D;background-color:white;border:0px;"><h5>Profile</h5></button>
    </form>
</div>
<div class="col-sm-1">
 <form action="/logout">
        <button class="btn-default xyz" id="logoutbutt"  style="color:#AE0D0D;background-color:white;border:0px;"><h5>Logout</h5></button>
    </form>
</div>


	</div></div>




<div class="container" style="top:0%; width:100%;position:relative;">
<div class="row">
<div class="col-sm-2" style="background-color:">
</div>
<div class="col-sm-8">
<div class="row" style="color:darkred">
<h2>create your event!</h2>
</div><br>

<form action="saveEvent" enctype="multipart/form-data" th:action="@{/saveEvent}" th:object="${event}" method="post">

<div class="row" style="">
<h4>Event Name</h4>
</div>
<div class="row">
<input type="text" class="form-control" name="eventTitle" id="event_name" th:field="*{eventTitle}">
</div><br>
<div class="row" style="">
 <h4><span class="glyphicon glyphicon-map-marker" style="color:#2D80DF"></span>Location</h4>
</div>
<div class="row">
<input type="text" class="form-control" name="location" id="event_location" th:field="*{location}">
</div><br>
<div class="row" style="">
 <h4>Twitter Handle</h4>
</div>
<div class="row">
<input type="text" class="form-control" name="twitterHandle" id="twitterHandle" th:field="*{twitterHandle}">
</div><br>
<div class="row" style="">
<h4><span class="glyphicon glyphicon-calendar" style="color:#2D80DF"></span> Details</h4></div>
<div class="row">
<div class="col-sm-2"><h5>Starts</h5></div>
<div class="col-sm-5" style="text-align:left">
<input type="date" class="form-control" name="start_date" style="width:50%;" id="start_date" th:field="*{startDate}">
</div>
<div class="col-sm-5">
	<input type="time" class="form-control" style="width:50%;" name="start_time" id="start_time" th:field="*{startDate}">
</div>
</div>
<br>
<div class="row">
<div class="col-sm-2"><h5>Ends</h5></div>
<div class="col-sm-5" style="text-align:left">
<input type="date" class="form-control" style="width:50%;" name="end_date" id="end_date" th:field="*{endDate}">
</div>
<div class="col-sm-5">
	<input type="time" class="form-control" style="width:50%;" name="end_time" id="end_time">
</div>
</div>
<br>
<!--<div class="row">
<div class="col-sm-2"><h5>Time zone:</h5></div>
<div class="col-sm-5">
<select class="form-control" style="width:50%" name= "timeZOne" id="event_timezone">
      <option>GMT -5:30</option>
      <option>GMT +2:00</option>
      <option>GMT -3:00</option>
      <option>GMT -7:00</option>
    </select>
	</div>
</div>-->
<br>
<div class="row">
<h4><span class="glyphicon glyphicon-file" style="color:#2D80DF"></span> Upload an Image</h4><small>Image must be of dimensions 280 X 140</small></div>
<div class="row">
    <input type="file" name="file" class="form-control-file" id="event_image">
</div>
<div class="row" ><br>
<h4>Description</h4>
<small>Describe the event(200 words max)</small>
</div>
<div class="row">
<textarea name="description" id="event_desc" style="width:75%;height:35%;resize:none;" th:field="*{description}">
</textarea>
</div><br><br>
<!--<div class="row" style="background-color:white;border-radius:10px;">
<br>
<div class="col-md-4" style=""><h4 style="color:#2D80DF;">WHAT TYPE OF EVENT IS THIS ?</h4></div>
<div class="col-sm-4"><h5><input type="radio" class="form-check-input"name="isPublic" id="event_type" checked>PUBLIC</h5></div>
<div class="col-sm-4"><h5><input type="radio" class="form-check-input" name="optradio">PRIVATE</h5></div>
<br><br>
</div>-->
<br>
<div class="row" style="">
<h4>Category</h4>
Select a category that best describes the event.
</div>
<div class="row">
<select class="form-control" name="event_category" id="event_category">
      <option>Business</option>
      <option>Outdoors</option>
      <option>Education</option>
      <option>Entertainment</option>
      <option>Career</option>
      <option>Culture</option>
    </select>
</div>
<br><div class="row">
<h4>Tickets</h4> 
</div>
<!--<div class="row">
<div class="col-sm-4">Type</div>
<div class="col-sm-4">Quantity</div>
<div class="col-sm-4">Price</div>
</div><br>-->
<div class="row">
<div class="col-sm-4"><input type="text" class="form-control" disabled value="Bronze"></div>
<div class="col-sm-4"><input type="text" placeholder="Quantity" name="bronzeQ" class="form-control"></div>
<div class="col-sm-4"><input type="text" placeholder="Price" name="bronzeP" class="form-control"></div>
</div><br>
<div class="row">
<div class="col-sm-4"><input type="text" class="form-control" disabled value="Silver"></div>
<div class="col-sm-4"><input type="text" placeholder="Quantity" name="silverQ" class="form-control"></div>
<div class="col-sm-4"><input type="text" placeholder="Price" name="silverP" class="form-control"></div>
</div><br>
<div class="row">
<div class="col-sm-4"><input type="text" class="form-control" disabled value="Gold"></div>
<div class="col-sm-4"><input type="text" placeholder="Quantity" name="goldQ" class="form-control"></div>
<div class="col-sm-4"><input type="text" placeholder="Price" name="goldP" class="form-control"></div>
</div><br>
<!--<div class="row">
<input type="text" name="seats" class="form-control" id="event_max">
</div>-->

<br>
<!--<div class="row" style="background-color:white;border-radius:10px;">
<br>
<div class="col-md-4"><h4 style="color:#2D80DF;"> PROMOTE THIS EVENT?</h4><small>Spread the word! Get featured</small></div>
<div class="col-sm-4"><h5><input type="radio" class="form-check-input"name="isPromoted" id="event_promote" checked>YES</h5> </div>
<div class="col-sm-4"><h5><input type="radio" class="form-check-input" name="rad2">NO</h5></div>
<br><br>
</div>-->
<br><br><br>
<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
<input type="submit"  value="Host Event" class="btn-block create_button" id="event_host_button" style="font-size:18;background-color:white;color:green;border:1px solid green;border-radius:4px;">
</div>
<div class="col-sm-4"></div>
</div>
</form>
</div>
<div class="col-sm-2" style="background-color:">
</div>

</div></div>

<!-- <!FOOTER DIV> -->
<div class="container-fluid" style="border-top:1px solid lightgrey;text-align:center;top:0%;height:auto;position:relative;background-color: !important;color:">
<br><div class="row" style="background-color:;">
	<!--<div class="col-sm-4">
	<div class="row" style="background-color:lightgrey"><div class="col-sm-12"><h4 style="color:#AE0D0D">Hoosier Events</h4></div></div>
		<div class="row" style="text-align:center;"><div class="col-sm-12">Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</div></div>
	<br>
	</div>-->
	<div class="col-sm-6 links" style="color:#AE0D0D;"><div class="row"  style="font-family: 'Oxygen', sans-serif;
background-color:"><div class="col-sm-12"><h4>About HoosierEvents</h4></div></div>
		
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">Sitemap</a></h5></div></div>
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">About us</a></h5></div></div>
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">FAQs</a></h5></div></div>
		<br>
	</div>
	
	<div class="col-sm-6"><div class="row"  style="background-color:"><div class="col-sm-12" style="font-family: 'Oxygen', sans-serif;
text-align:center"><h4 style="color:#AE0D0D;">Connect with Us</h4></div></div>
				           <!--  <i class="fa fa-home mr-3"></i>&nbsp Bloomington, IN 47408, US
							<br>
				            <i class="fa fa-envelope mr-3"></i>&nbsp info@example.com
							<br>
							<i class="fa fa-phone mr-3"></i>&nbsp + 01 234 567 88 -->

		<div class="row">
		<div class="col-sm-4"></div>

		<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-facebook"></a></div>
<div class="col-sm-1" style="padding-right:25px;"><a href="#" class="fa fa-twitter"></a></div>
<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-google"></a></div>
<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-instagram"></a></div>
<div class="col-sm-4"></div>
		</div>
	</div>
</div>
</div>

<script>

</script>
</body>
</html>