<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

  <link rel="stylesheet" th:href="@{/css/loginpage.css}" />
  	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<style>
<!--body{background-color:#F0EDED;}-->
    .footer {
        bottom: 0;
        left: 0;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: -1;
    }
	.body
	{
	
	}
</style>
</head>

<body>

<div class="container-fluid" style="background-color:white;color:#AE1616;padding:10px;border-bottom:1px solid lightgrey;">
<div class="row">
<div class="col-sm-2"><h4 style="color:#AE0D0D;background-color:white;text-align:center">HoosierEvents</h4></div>
<div class="col-sm-1"></div>
<div class="col-sm-5"></div>
<div class="col-sm-3"><button id="myBtn" style="display:none;" onclick="javascript:alert('Hello World!')"></button></div>
<div class="col-sm-1"></div>
</div>
</div>
<div class="main12">
<div class="container-fluid" style="padding:70px;"></div>
<!--
<nav class="navbar navbar-inverse" style="background-color:#AE1616;width:100%">
  <div class="container-fluid" style="text-align:left">
    <div class="navbar-header">
      <a class="navbar-brand" id="abc">HoosierEvents</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="homepage"><a class="top-nav-links" style="color:white;">Home</a></li>
    </ul>-->
	<!--<ul class="nav navbar-nav" id="explore">
      <li><a class="top-nav-links" href="search_events.html" style="color:white;">Explore Events</a></li>
    </ul>-->
	
<!--    <form class="navbar-form navbar-left" action="">
      <div class="form-group">
        <input type="text" class="form-control" style="text-align:center;" placeholder="search for events!">
      </div>
      <button type="submit" class="btn btn-default" style="height:4.5% !important;width:15%!important;position:relative"><span class="glyphicon glyphicon-search"></span></button>
    </form> 


	</div>
</nav>-->

<div class="container" style="min-width:350px;background-color:white;top:20% !important;position:relative;width:50%;border:0.5px solid #F0EDED;border-radius:4px;">
<div class="row">
<div class="col-sm-12"><h3></h3></div>
</div>
                                <form  name="f" th:action="@{/login}" method="post" class="login-form">

<div class="row social-login">
                        <!--<div class="col-sm-4">
						<h5></h5></div>-->
						<div class="col-sm-4"><h4>Login With</h4></div>
                        <div class="col-sm-8 social-login-buttons">
                            <a class="btn btn-link-1-facebook" style="color:#306090" href="/signin/facebook">
                             <i class="fa fa-facebook"></i> Facebook</input>
                            </a>
                            <a class="btn btn-link-2" href="#" style="color:#d84830">
                                <i class="fa fa-google-plus"></i> Google
                            </a>
                        </div>
                    </div>
<div class="row"><div class="col-sm-12" style="text-align:center;"><h6>Or</h6></div></div>					
<div class="row form-group">
    <div th:if="${param.error}" class="alert alert-error">
        Invalid username or password.
    </div>
	<div class="col-sm-4"><h5><label class="" for="email">Email</label></h5></div>
	<div class="col-sm-8">
        <input type="email" name="email" placeholder="" class="form-username form-control" id="email" required="required" />
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-4">
		<h5><label class="" for="password">Password</label></h5>
	</div>
	<div class="col-sm-8">
        <input type="password" name="user_password" placeholder="" class="form-password form-control" id="password" required="required" />
	</div>
</div>
<div class="row">
	<div class="col-sm-12">


        <button type="button" class="btn-link" id="forgot_button">Forgot Password?</button>

       <!-- <a href="/sign" >Sign Up!!</a>-->

      
	</div>							
</div>
<div class="row form-action">
	<div class="col-sm-12">
                     <button type="submit" id="login_button" class="btn-block btn-success"><h5>Sign In</h5></button>
	</div>
</div>
                                </form>

                   <!--<div class="row social-login">
                        <div class="col-sm-4">
						<h5>Login with:</h5></div>
                        <div class="col-sm-8 social-login-buttons">
                            <a class="btn btn-link-1-facebook" href="/signin/facebook">
                             <i class="fa fa-facebook"></i> Facebook</input>
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-google-plus"></i> Google
                            </a>
                        </div>
                    </div>-->
<br>					
<div class="row"> <div class="col-sm-12">Dont have an account? Sign up <a href="/sign" >here</a>.</div></div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal container">

  <!-- Modal content -->
  <div class="modal-content" style="width:60%;">
    <span class="close">&times;</span>
	<div class="row">
	<div class="col-sm-8">	<h4>Recover Password</h4></div>
	</div><br />
 <div class="row">

		  <div class="col-sm-8 form-group"  >
              <input type="email" class="form-control" id="reset_email" name="resetemail" placeholder="Enter email ID"  required="required" />

		  </div>
		<div class="col-sm-4">
		<button class="btn-default" style="background-color:lightgrey;color:black;border:1px solid lightgrey;border-radius:4px" onclick="email_validate()"><h5>Send Recovery Code to Email</h5></button>
		</div>
 </div>
 <div id="invalid_email" style="color:red;display:none;"><h6>Enter valid email ID</h6></div>
 <div id="pass_div" style="display:none;"><br />
  <form th:action="@{/forgotPass}" id="register-form" role="form" autocomplete="off" class="form" method="post">

 <div class="row">
		 <div class="col-sm-4">Enter Code received:</div>
		  <div class="col-sm-8">
		  <input type="text" class="form-control" />
		  </div>

 </div>
 <div class="row">
		 <div class="col-sm-4">Enter new password</div>
		   <div class="col-sm-8"><input type="password" class="form-control" /></div>

 </div><br />
 <div class="row">
		 <div class="col-sm-12">
		<!--<button class="btn-primary" style="background-color:darkslategrey;border:1px solid darkslategrey;border-radius:4px;" onclick="pass_reset()"><h5>Reset Password</h5></button>-->
            <input name="recover-submit" class="btn btn-primary btn-block" value="Reset Password" type="submit" onclick="pass_reset()" />
		</div>

 </div>
 </form>
 </div>
<!--  <div class="row">
		 <div class="col-sm-3"></div>
		  <div class="col-sm-3"></div>
 </div> -->
 </div>

</div>
<div class="container-fluid" style="padding:75px;"></div>
</div>
<div class="container-fluid fancy" style="text-align:center;bottom:0% !important;height:auto;position:relative;background-color:lightgrey !important;color:">
<div class="row" style="background-color:;">
	<div class="col-sm-4">
	<div class="row"><div class="col-sm-12"><h4 style="color:#AE0D0D;">Hoosier Events</h4></div></div>
		<div class="row" style="text-align:center;"><div class="col-sm-12">Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</div></div>
	<br>
	</div>
	<div class="col-sm-4 links" style="color:#AE0D0D;"><div class="row"><div class="col-sm-12"><h4>Useful Links</h4></div></div>
		
		<div class="row"><div class="col-sm-12"><a href="" style="color:#48A2BD">Your Account</a></div></div>
		<div class="row"><div class="col-sm-12"><a href="" style="color:#48A2BD">About us</a></div></div>
		<div class="row"><div class="col-sm-12"><a href="" style="color:#48A2BD">Help</a></div></div>
		<br>
	</div>
	
	<div class="col-sm-4"><div class="row"><div class="col-sm-12"><h4 style="color:#AE0D0D;">Contact Us</h4></div></div>
				            <i class="fa fa-home mr-3"></i>&nbsp Bloomington, IN 47408, US
							<br>
				            <i class="fa fa-envelope mr-3"></i>&nbsp info@example.com
							<br>
							<i class="fa fa-phone mr-3"></i>&nbsp + 01 234 567 88


	</div>
</div>
</div>

<!-- <!FOOTER DIV> -->
<!--
<div class="container-fluid footer">
    <div class="row" style="background-color:#AE1616; color:black">
        <div class="col-sm-3"><h5>Get Connected with us on Social Media</h5></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <div class="row" style="text-align:center">
                <div class="col-sm-3">
                <a id="socialmedialink" href="#" class="fb-ic">
                    <i class="fa fa-facebook white-text mr-4"> </i>
                </a>
            </div>
                
                <div class="col-sm-3">
                    <a id="socialmedialink" href="#" class="tw-ic">
                        <i class="fa fa-twitter white-text mr-4"> </i>
                    </a>
                </div>
                
                <div class="col-sm-3">
                    <a id="socialmedialink" href="#" class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-4"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:#534E4E">
        <div class="col-sm-4">
            <div class="row"><h4>Hoosier Events</h4></div>
            <div class="row"><h5>Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</h5></div>
            <br />
        </div>
        <div class="col-sm-4 links" style="color:white"><h4>Useful Links</h4>

            <div class="row"><a href="" style="color:#48A2BD">Your Account</a></div>
            <div class="row"><a href="" style="color:#48A2BD">About us</a></div>
            <div class="row"><a href="" style="color:#48A2BD">Help</a></div>
            <br />
        </div>

        <div class="col-sm-4"><h4>Contact Us</h4>
            <i class="fa fa-home mr-3"></i>&nbsp; Bloomington, IN 47408, US
            <br />
            <i class="fa fa-envelope mr-3"></i>&nbsp; info@example.com
            <br />
            <i class="fa fa-phone mr-3"></i>&nbsp; + 01 234 567 88


        </div>
    </div>
</div>-->
<script>
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("forgot_button");

var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
	document.getElementById("reset_email").value="";
}


span.onclick = function() {
    modal.style.display = "none";
	pass_div.style.display="none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
			pass_div.style.display="none";
    }
}

function email_validate(){

    console.log("hello");

$.getJSON("/validEmail",{emailvalid:document.getElementById("reset_email")},function(data){
    var k = data[user];
    document.getElementById("invalid_email").style.display = "block";

    if(k=="") {
        document.getElementById("invalid_email").style.display = "block";
    }
});

if(document.getElementById("reset_email").value=="" )
{
document.getElementById("invalid_email").style.display="block";

}
else{
document.getElementById("invalid_email").style.display="none";
pass_div.style.display="block";
}
}
function pass_reset(){
alert('password has been reset!');
location.reload();
}
</script>

</body>
</html>
<!--
  <div class="form-group">
                                        <label class="sr-only" for="email">Username</label>
                                        <input type="email" name="email" placeholder="Email..." class="form-username form-control" id="email" />
                                    </div>-->