<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html"
	xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>Hoosier Events</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oxygen" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{css/org_profile_css.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{css/HomePageStyle.css}">
<script th:src="@{script/org_profile.js}"></script>

<style>
 .fa {
padding-top:10px;
  padding-right: 10px;
  padding-left:10px;
  padding-bottom:10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
	color:white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

body, html, .container-fluid {
     font-family: 'Oxygen', sans-serif;

	width: 100%;
}
</style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	
<div class="container-fluid" style="background-color:;color:#AE1616;padding:10px;border-bottom:1px solid lightgrey;">
<div class="row">
	<div class="col-sm-2"><a href="/" style="text-decoration: none"><h4 style="color:#AE0D0D;background-color:white;text-align:center">HoosierEvents</h4></a></div>
<div class="col-sm-1"></div>
<div class="col-sm-6"></div>
	<div class="col-sm-1">
	<a href="create_event.html">	<button class="btn-default xyz" href="/create_event.html" id="createeve" style="color:white;background-color:orange;border:0px;-moz-border-radius: 4px;-webkit-border-radius: 4x;border-radius: 4px;"><h5>Create Event</h5></button></a>
	</div>
	<div class="col-sm-1">

		<form action="/login">
			<button class="btn-default xyz" id="loginbutt" style="color:#AE0D0D;background-color:white;border:0px;display: none"><h5>Login</h5></button>
		</form>
		<form action="/logout">
			<button class="btn-default xyz" id="logoutbutt"  style="color:#AE0D0D;background-color:white;border:0px; display: none"><h5>Logout</h5></button>
		</form>

	</div>



</div>

   
	
</div>

	<!--<div style="background-color:red;left:-30%;height:100%;width:40%;position:relative;">-->
	<div class="container-fluid" style="height: 100% !important;">
		<div class="row">
			<div class="col-sm-4" style="">
				<!--<div class="container" style="height:100%;position:relative;top:10%;">-->
				<h3>Welcome</h3>
				<h4 id="user_name_display"></h4>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a data-toggle="pill" style="font-family: 'Open Sans', sans-serif;" href="#dash">Dashboard</a></li>
					<li class="dropdown"><a class="dropdown-toggle" style="font-family: 'Open Sans', sans-serif;"
						data-toggle="dropdown" href="#">My Events <span class="caret"></span></a>
						<ul class="dropdown-menu" style="font-family: 'Open Sans', sans-serif;">
							<li><a data-toggle="pill" href="#upcoming">Live</a></li>
							<li><a data-toggle="pill" href="#elapsed">Elapsed</a></li>
						</ul></li>
					<!--<li><a data-toggle="pill" style="font-family: 'Open Sans', sans-serif;" href="#edit_events">Change Event
							Information</a></li>-->
					<li><a data-toggle="pill" style="font-family: 'Open Sans', sans-serif;" href="#edit">Edit Profile</a></li>
					<!--<li><a data-toggle="pill" href="#">Menu 3</a></li>-->
				</ul>
			</div>

			<div class="col-sm-8" style="height:500px;overflow-y:auto;overflow-x:hidden;">

				<div class="tab-content">
					<div id="edit" class="tab-pane fade" style="height:350px;">
						<h3>Edit Details</h3>
						<!--	  <form id="modify_details" action="/modifyUser">	-->
						Name <input type="text" class="form-control" id="user_name">
						Address <input type="text" class="form-control" id="user_address">
						Contact<input type="text" class="form-control" id="user_contact">
						Email<input type="text" class="form-control" id="user_email">
						<br>
						<button class="btn-block" id="update_button"
							onClick="updateUser()" style="width: 50%;">
							<h5>Update Details</h5>
						</button>
					</div>

					<div id="dash" class="tab-pane fade in active " style="max-height:500px;">
					<h3 style="text-align:center;     font-family: 'Oxygen', sans-serif;
">Event Statistics</h3><br>
						<div id="piechart" style="height:450px;">
						</div>
						<div id="piechart3" style="height:400px;">
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="panel panel-default" id="users_count">
									<h5 style="">
										&nbsp Total Users: <span id="total_users"> </span>
									</h5>
								</div>
							</div>
							<div class="col-sm-6">
									<div class="panel panel-default" id="totalevents" >
									<h5 style="">
										&nbsp Total Events: <span id="totaleventcount">19 </span>
									</h5>
								</div>
							</div>

						</div>
						
						<br>
						<h3 style="text-align:center;     font-family: 'Oxygen', sans-serif;
">Revenue Statistics</h3><br>
						<div id="piechart2" style="height:400px;">
						</div><br>
						
						<div class="row">
							<div class="col-sm-6">
								<h4>
									Net Revenue: <span id="total_revenue">4500$</span>
								</h4>
							</div>
							<div class="col-sm-6">
								<h4>
									Average Revenue Per Event: <span id="avg_revenue">236.84$</span>
								</h4>
							</div>
						</div>
						
						<!--<h3>Event Statistics</h3>

						<div class="row">
							<div class="col-sm-6">

								<div class="panel panel-default" id="live_events">
									<h5>
										&nbspLive Events:<span id="total_events"> </span>
									</h5>
								</div>

							</div>
							<div class="col-sm-6">
								<div class="panel panel-default" id="pen_events">
									<h5>
										&nbsp Events Pending Approval:<span id="pending_events">
										</span>
									</h5>
								</div>


							</div>

						</div>-->
					
					</div>
					<div id="upcoming" class="container tab-pane fade" style="max-height:500px;">
<!--						<div class="row"><div class="col-sm-2"></div><div class="col-sm-8" id="upcoming2"></div><div class="col-sm-2"></div></div>-->
						<h3>Live Events</h3>
						<div id="app"></div>

					</div>
					<div id="elapsed" class="tab-pane fade">
						<h3>Elapsed Events</h3>
					</div>
					</div>
					
					<!--<div id="edit_events" class="tab-pane fade" style="max-height:500px;">
						<h3>Edit Events</h3>
						Event Name
						<select class="form-control" style="width: 50%" name="event_name"
							id="event_name">

						</select> Location <input type="text" class="form-control" id="event_id">

						Start
						<ul>
							<li><input type="date" class="form-control" name="startDate"
								style="width: 50%;" id="start_date"></li>
							<li><input type="time" class="form-control" name="startDate"
								style="width: 50%;" id="start_time"></li>
						</ul>

						End Time
						<ul>
							<li><input type="date" class="form-control" name="startDate"
								style="width: 50%;" id="end_date"></li>
							<li><input type="time" class="form-control" name="startDate"
								style="width: 50%;" id="end_time"></li>
						</ul>
						Timezone <select class="form-control" style="width: 50%"
							name="timeZOne" id="event_timezone">
							<option>GMT -5:30</option>
							<option>GMT +2:00</option>
							<option>GMT -3:00</option>
							<option>GMT -7:00</option>
						</select> Description<br>
						<textarea name="description" id="event_desc"
							style="width: 75%; height: 35%; resize: none;"></textarea>
						<br> Category <select class="form-control"
							name="eventCategory" id="event_category">
							<option>Business</option>
							<option>Outdoors</option>
							<option>Education</option>
							<option>Career</option>
							<option>Culture</option>
						</select>
					</div>-->
				</div>
			</div>
		</div>



		<!--</div>-->
	</div>
	<br>
	<br>
	<br>



	<div id="myModal" class="modal" style="display: none;">
		<!-- Modal content -->
		<input type="hidden" name="id" id="eventId"/>
		<div class="modal-content">
			<span class="close" onclick="closemodal();">&times;</span>

			<h5>Event Name</h5>
			<input type="text" required class="form-control" id="edit_name" name="eventTitle">
			<h5>Location</h5>
			<input type="text" required class="form-control" id="edit_location" name="location">
			<h5>Description</h5>
			<textarea required id="edit_description"
				style="width: 100%; height: 20%;" name= "description"></textarea>
			<input type="submit" id="edit_button" onclick="updateEvent()" value="Update Event">
		</div>
	</div>


	<div class="container-fluid fancy" style="border-top:1px solid lightgrey;text-align:center;top:0%;height:auto;position:relative;background-color: !important;color:">
<br><div class="row" style="background-color:;">
	<!--<div class="col-sm-4">
	<div class="row" style="background-color:lightgrey"><div class="col-sm-12"><h4 style="color:#AE0D0D">Hoosier Events</h4></div></div>
		<div class="row" style="text-align:center;"><div class="col-sm-12">Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</div></div>
	<br>
	</div>-->
	<div class="col-sm-6 links" style="color:#AE0D0D;"><div class="row"  style="font-family: 'Oxygen', sans-serif;
background-color:"><div class="col-sm-12"><h4>About HoosierEvents</h4></div></div>
		
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">Sitemap</a></h5></div></div>
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">About us</a></h5></div></div>
		<div class="row"><div class="col-sm-12"><h5><a href="" style="font-family: 'Open Sans', sans-serif;
color:#3C48AE">FAQs</a></h5></div></div>
		<br>
	</div>
	
	<div class="col-sm-6"><div class="row"  style="background-color:"><div class="col-sm-12" style="font-family: 'Oxygen', sans-serif;
text-align:center"><h4 style="color:#AE0D0D;">Connect with Us</h4></div></div>
				           <!--  <i class="fa fa-home mr-3"></i>&nbsp Bloomington, IN 47408, US
							<br>
				            <i class="fa fa-envelope mr-3"></i>&nbsp info@example.com
							<br>
							<i class="fa fa-phone mr-3"></i>&nbsp + 01 234 567 88 -->

		<div class="row">
		<div class="col-sm-4"></div>

		<div class="col-sm-1" style="padding-right:25px;" ><a href="https://www.facebook.com/HoosierEvents" class="fa fa-facebook"></a></div>
<div class="col-sm-1" style="padding-right:25px;"><a href="https://twitter.com/hoosierevents" class="fa fa-twitter"></a></div>
<div class="col-sm-1" style="padding-right:25px;" ><a href="#" class="fa fa-google"></a></div>
<div class="col-sm-1" style="padding-right:25px;" ><a href="https://www.instagram.com/eventshoosier/" class="fa fa-instagram"></a></div>
<div class="col-sm-4"></div>
		</div>
	</div>
</div>
</div>

	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>
	
<script>
function closemodal()
{
document.getElementById("myModal").style.display="none";
}
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawMaterial);

function drawMaterial() {
  var data = new google.visualization.DataTable();
data.addColumn('string', 'Months');
data.addColumn('number', 'Number of Events');
data.addRows([
  ['January', 0],
  ['February', 1],
  ['March', 1],
  ['April', 3],
	  ['May', 4],
	    ['June', 1],
		  ['July', 0],
		    ['August', 5],
			  ['September', 1],
			    ['October', 3],
				  ['November', 0],
				    ['December', 0],
]);

      var materialOptions = {
        chart: {
          title: 'Events By Month'
        },
		  animation:{
              duration: 1000,
              easing: 'out',
              startup: true
		  },
        hAxis: {
          title: 'Total Population',
          minValue: 0,
        },
        vAxis: {
          title: 'Events'
        },
        bars: 'horizontal'
      };
      var materialChart = new google.charts.Bar(document.getElementById('piechart'));
      materialChart.draw(data, materialOptions);
    }



google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
	
	function drawChart() {
/*  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Events');
  data.addColumn('number', 'abc');

    data.addRow(['Live',live_event_count]);
	data.addRow(['Pending',pending_event_count]);*/
	
       var data = google.visualization.arrayToDataTable([
          ['Category', 'Revenue'],
          ['Sports',     1500],
          ['Education',      2500],
          ['Career',  500],
        
        ]);

        var options = {
            animation:{
                duration: 1000,
                easing: 'out',
                startup: true
            },
          title: 'Revenue By Category'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
      }
	  
	  google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Month');
      data.addColumn('number', 'attendees');
		
      data.addRows([
  ['Jan', 0],
  ['Feb', 1],
  ['Mar', 1],
  ['Apr', 3],
	  ['May', 4],
	    ['Jun', 1],
		  ['Jul', 0],
		    ['Aug', 5],
			  ['Sep', 1],
			    ['Oct', 3],
				  ['Nov', 0],
				    ['Dec', 0],
      ]);

      var options = {
          animation:{
              duration: 1000,
              easing: 'out',
              startup: true
          },
        title: 'Event Atendees by Month',
        hAxis: {
          title: 'Month',
          viewWindow: {
            min: [7, 30, 0],
            max: [17, 30, 0]
          }
        },
        vAxis: {
          title: 'Number',
		  color:'red'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('piechart3'));

      chart.draw(data, options);
    }


        $(document).ready(function () {
            $.ajax({
                    type: "GET",
                    url: '/getauth',
                    success: function (data) {
                        console.log(data);
                        if(data==="anonymousUser"){
                            document.getElementById('logoutbutt').style.display="none";
                            document.getElementById('loginbutt').style.display="block";
                            document.getElementById('profileButton').style.display="none";

                        }
                        else{
                            document.getElementById("loginbutt").style.display="none";
                            document.getElementById("logoutbutt").style.display="block";
                            document.getElementById("profileButton").style.display="block";

                        }


                    },
                    error: function (e) {
                        console.log(e);
                    }

                }
            )
        })

	</script>


</body>
</html>