<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" th:href="@{css/Search.css}">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script th:src="@{script/Search.js}" type="text/javascript"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-7446451293480885",
                enable_page_level_ads: true
            });
		</script>
        <script type='text/javascript'>
            $(document).ready(function() {
                $('img#closed').click(function(){
                    $('#btm_banner').hide(90);
                });
            });
        </script>
		<style type='text/css'>
			div#btm_banner {
				bottom: 0;
				position: fixed;
				width: 50%;
				opacity: 0.9;
				left: 25%;
			}
			div#btm_banner img{
				border:0;
				cursor:pointer;
			}
		</style>

	</head>
	
	<body>
<!--Advertisement-->
	<div style='height: 0px;'></div>
	<div align='center' id='btm_banner' style='height: 150px; z-index: 9999;'>
		<div style='text-align: center; width: 983px'>
			<img id='closed' src='http://3.bp.blogspot.com/-FJbBxXlFzSM/UChDqaGbcMI/AAAAAAAACPA/Lc4uhFU639c
/s320/exit.png'/></div>
		<div style='clear: both;'></div>
		<p>
		<p><center>
		<!-- ADVERTISING CODE -->


		<iframe src="//cdn.bannersnack.com/banners/b132cgv45/embed/index.html?userId=38477934&t=1543553569" width="728" height="90" scrolling="no" frameborder="0" allowtransparency="true" allow="autoplay" allowfullscreen="true"></iframe>
		<!-- ADVERTISING CODE -->
	</center></p>
		</p>
	</div>
<!--Advertisement-->

		<!-- <div id="header">
			<script>
	            $("#header").load("header.html");
	        </script>
		</div> -->
		<!-- Navigation bar -->
		<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  			<!--  Brand/logo -->
  			<a class="navbar-brand" href="#">
  				<img id="logoimg" src="Logo 4.jpg" class="img-fluid">
  			</a>
  			
  			<ul id="navbarlist" class="navbar-nav">
			    <li id="navbarlistitem" class="nav-item">
			      <a class="nav-link" href="HomePage.html">Home</a>
			    </li>
			    <li id="navbarlistitem" class="nav-item">
			      <a class="nav-link" href="#">Explore</a>
			    </li>
			    <li id="navbarlistitem" class="nav-item">
			      <a class="nav-link" href="create_event.html">Create Event</a>
			    </li>
			    <li id="navbarlistitem" class="nav-item">
			      <a class="nav-link" href="#">Sign In</a>
			    </li>
			</ul>
			
			<div id=smallmenucontainer>
				<button id="smallmenu" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div id="menuicon"></div>
					<div id="menuicon"></div>
					<div id="menuicon"></div>
				</button>
				<div id="smallmenuitem" class="dropdown-menu">
				    <a class="dropdown-item" href="HomePage.html">Home</a> 
				    <a class="dropdown-item" href="#">Explore</a> 
				    <a class="dropdown-item" href="create_event.html">Create Event</a> 
				    <a class="dropdown-item" href="#">Sign In</a> 
			    </div>
			 </div>
			 
 		</nav>
 		
 		<!-- Carousel with search bar -->
 		<div class="container">
				
				<div id="searchbar" class="input-group">
					<div id="searchbarcol" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					  <input id="searchbartextbox" type="text" class="form-control" aria-label="Text input with dropdown button">
					</div>
				  <div class="input-group-append">
				    <button id="searchbardropdown" class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</button>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" onClick="DisplayEventsfromCategory()">Categories</a>
				      <a class="dropdown-item" onClick="DisplayCategories()">List of Categories</a>
				      <a class="dropdown-item" onClick="DisplayEventsbyLocation()">Location</a>
				      <a class="dropdown-item" onClick="DisplayEvent()">By Event</a>
				      <!-- <a class="dropdown-item" href="#">Something else here</a> -->
				      <div role="separator" class="dropdown-divider"></div>
				      <button class="dropdown-item" onClick="DisplayAllEvents()">HoosierEvents</button>
				    </div>
				  	</div>
				  
				</div>
 		</div>
 		<div>
	 		<div class="row" ><h3 id="event_title">Hello</h3></div>
			<div class="row" ><h5 id="event_date"></h5></div>
			<div class="row" ><h5 id="event_location"></h5></div>
			<div class="row" ><h5 id="event_description"></h5></div>
			<div class="row" ><h5 id="created_by"></h5></div>
 		</div>
 		
			
		<!-- Footer -->
		<footer class="page-footer font-small unique-color-dark">
		
		    <div id="footertopbar">
		      <div class="container">
		
		        <!-- Grid row-->
		        <div class="row py-4 d-flex align-items-center">
		
		          <!-- Grid column -->
		          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
		            <h6 class="mb-0">Get connected with us on social networks!</h6>
		          </div>
		          <!-- Grid column -->
		
		          <!-- Grid column -->
		          <div class="col-md-6 col-lg-7 text-center text-md-right">
		
		            <!-- Facebook -->
		            <a id="socialmedialink" href="https://www.facebook.com/HoosierEvents-171611190445772/?view_public_for=171611190445772" class="fb-ic">
		              <i class="fa fa-facebook white-text mr-4"> </i>
		            </a>
		            <!-- Twitter -->
		            <a id="socialmedialink" href="https://twitter.com/EventsHoosier" class="tw-ic">
		              <i class="fa fa-twitter white-text mr-4"> </i>
		            </a>
		            <!-- Google +-->
		            <a id="socialmedialink" href="https://plus.google.com/u/0/106790516341153503048" class="gplus-ic">
		              <i class="fa fa-google-plus white-text mr-4"> </i>
		            </a>
		            <!--Linkedin -->
		            <!-- <a id="socialmedialink" href="#" class="li-ic">
		              <i class="fa fa-linkedin white-text mr-4"> </i>
		            </a> -->
		            <!--Instagram-->
		            <a id="socialmedialink" href="#" class="ins-ic">
		              <i class="fa fa-instagram white-text"> </i>
		            </a>
		
		          </div>
		          <!-- Grid column -->
		
		        </div>
		        <!-- Grid row-->
		
		      </div>
		    </div>
		
		    <!-- Footer Links -->
		    <div id="footer" class="container text-center text-md-left mt-5">
		
		      <!-- Grid row -->
		      <div class="row mt-3">
		
		        <!-- Grid column -->
		        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
		
		          <!-- Content -->
		          <h6 class="text-uppercase font-weight-bold">Hoosier Events</h6>
		          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		          <p> Connect with other enthusiasts and do what you enjoy. Signup to explore and host events!</p>
		
		        </div>
		        <!-- Grid column -->

		
		        <!-- Grid column -->
		        <div  class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
		
		          <!-- Links -->
		          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
		          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		          <p>
		            <a href="#!">Your Account</a>
		          </p>
		          <p>
		            <a href="#!">Organize an event</a>
		          </p>
		          <p>
		            <a href="#!">About us</a>
		          </p>
		          <p>
		            <a href="#!">Help</a>
		          </p>
		
		        </div>
		        <!-- Grid column -->
		
		        <!-- Grid column -->
		        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
		
		          <!-- Links -->
		          <h6 class="text-uppercase font-weight-bold">Contact</h6>
		          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
		          <p>
		            <i class="fa fa-home mr-3"></i> Bloomington, IN 47408, US</p>
		          <p>
		            <i class="fa fa-envelope mr-3"></i>hoosiereventsiu@gmail.com</p>
		          <p>
		            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
		          <p>
		            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
		
		        </div>
		        <!-- Grid column -->
		
		      </div>
		      <!-- Grid row -->
		
		    </div>
		    <!-- Footer Links -->
		
		    <!-- Copyright -->
		    <div class="footer-copyright text-center py-3">© 2018 Copyright:
		      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> HoosierEvents</a>
		    </div>
		    <!-- Copyright -->
		
		  </footer>
		  <!-- Footer -->
	</body>
 	<script>
 	function DisplayAllEvents(){
 		console.log("Hello");
 		$.ajax({
 			type:'POST',
 			dataType:'JSON',
 			url:"/getAllEvents",
 			  success: function(data) {
 					console.log('success',data);
 					document.getElementById("event_title").innerHTML=data;

 			   },
 			   error:function(exception){alert('Exception:'+exception);}})
 	}
 	
	function DisplayEventsfromCategory(){
		var category_id = document.getElementById("searchbartextbox").value;
		console.log(category_id);
		$.ajax({
			type:'POST',
			dataType:'JSON',
			data: {id:category_id},
			url:"/getEventsbyCategory",
			success: function(data) {
				console.log('success',data);
				document.getElementById("event_title").innerHTML=data[0].eventTitle;
			   },
		   error:function(exception){alert('Exception:'+exception);}})
	}
	
	function DisplayEventsbyLocation(){
		var location_name = document.getElementById("searchbartextbox").value;
		console.log(location_name);
		$.ajax({
			type:'POST',
			dataType:'JSON',
			data: {location:location_name},
			url:"/getEventsbyLocation",
			success: function(data) {
				console.log('success',data);
				console.log("${m.event}");
				document.getElementById("event_title").innerHTML=data;
			   },
		   error:function(exception){alert('Exception:'+exception);}})
	}
	
	function DisplayEvent(){
		var event_name = document.getElementById("searchbartextbox").value;
		console.log(event_name);
		$.ajax({
			type:'POST',
			dataType:'JSON',
			data: {event:event_name},
			url:"/getEventbyName",
			success: function(data) {
				console.log('success',data);
				document.getElementById("event_title").innerHTML=data.eventTitle;
			   },
		   error:function(exception){alert('Exception:'+exception);}})
	}
	
	function DisplayCategories(){
		$.ajax({
			type:'POST',
			dataType:'JSON',
			url:"/getCategories",
			success: function(data) {
				console.log('success',data);
				document.getElementById("event_title").innerHTML=data;
			   },
		   error:function(exception){alert('Exception:'+exception);}})
	}
	</script>
</html>